<h1>お問い合わせありがとうございました。</h1>

<%= image_tag 'ojigi_man.gif', :size =>'32x48' %>

<p>
  <strong>name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>body:</strong>
  <%= @contact.body %>
</p>

<%= link_to 'Back', new_contact_path %>
