<%= form_with(model: [@hotel, reservation], local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">予約</div>
  <div class="card-body">
    <p class="card-text">  <div class="field">
       <%= form.label :名前 %><br/>
       <%= form.text_field :name  %>
     </div>
    </p>
    <p class="card-text">  <div class="field">
        <%= form.label :メールアドレス %><br/>
        <%= form.text_field :mail %>
     </div>
    </p>
    <p class="card-text">  <div class="field">
        <%= form.label :宿泊開始日 %><br/>
        <%= form.date_select :hotelin %>
     </div>
    </p>
    <p class="card-text">  <div class="field">
        <%= form.label :宿泊終了日 %><br/>
        <%= form.date_select :hotelout %>
     </div>
   </p>
    <p class="card-text">  <div class="field">
        <%= form.label :人数 %><br/>
        <%= form.text_field :people %>人
     </div>
    </p>

       <%= form.hidden_field :hotel_id, value: @hotel.id %>
    <div class="actions">
      <%= form.submit '予約する', class: "btn btn-success"%>  
    </div>
  </div>
</div>

<% end %>
