<h1>ご予約ありがとうございます</h1>
<%= image_tag 'ojigi_man.gif', :size =>'100x100' %>


<table>
  <tr>
    <th>
      名前
    </th>
    <td>
      <%= @reservation.name %>様      
    </td>
  </tr>
  <tr>
    <th>
      メールアドレス
    </th>
    <td>
      <%= @reservation.mail %>
    </td>

  </tr>

  <tr>
    <th>
      宿泊開始日
    </th>
    <td>
     <%= @reservation.hotelin %>
    </td>

  </tr>

  <tr>
    <th>
      宿泊終了日
    </th>
    <td>
     <%= @reservation.hotelout %>
    </td>

  </tr>

  <tr>
    <th>
      人数
    </th>
    <td>
      <%= @reservation.people %>名
    </td>

  </tr>


</table>
<br/>

 <small class="text-muted"><%= link_to "戻る", hotel_path(@hotel), class: "btn btn-secondary"  %></small>
