<h1>レビューの詳細</h1>

<table>
	<tr>
		<td>
			名前
		</td>
		<th>
			  <%= @review.name %>
		</th>
	</tr>

	<tr>
		<td>
			タイトル
		</td>
		<th>
			  <%= @review.title %>

		</th>
	</tr>

	<tr>
		<td>
			評価
		</td>
		<th>
			  <%= @review.value %>

		</th>
	</tr>

	<tr>
		<td>
			内容
		</td>
		<th>
			  <%= @review.body %>

		</th>
	</tr>

</table>
<tr/>
 <small class="text-muted"><%= link_to "戻る", hotel_reviews_path(@hotel), class: "btn btn-secondary"  %></small>
